:root {
  --backdrop: #f0eff4;
  --nav-color: #291528;
  --text-color: #fcfafa;
}

.navigation {
  background-color: var(--nav-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navigation-title {
  text-align: center;
  letter-spacing: 1rem;
  color: var(--text-color);
}

.navbar {
  background-color: var(--nav-color);
  width: 100%;
  position: fixed;
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar-list li {
  display: inline-block;
}

.navbar-list a {
  font-family: sans-serif;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.navbar-list a:hover,
.navbar-list a:focus {
  text-decoration: none;
  cursor: pointer;
  color: #547aa5;
}

main {
  padding-top: 120px;
}

body {
  background: var(--backdrop);
  margin: 0;
  justify-content: center;
  display: flex;
  padding: 50px;
}

/* Tool bar / board */
.wrap {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.toolbar {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--nav-color);
  color: white;
  padding: 10px;
}

/* Mobile CSS */
@media (max-width: 600px) {
  .navigation-title {
    letter-spacing: 0.5rem;
    font-size: 1rem;
  }
  .navbar-list {
    flex-direction: row;
    height: auto;
  }
}
